<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="base">
  <mat-form-field class="full-width pointer" [class.liftup]="dropDown" (click)="dropDown=!dropDown">

    <button matPrefix mat-icon-button (click)="scrollLeft($event)">
      <mat-icon color="primary">keyboard_arrow_left</mat-icon>
    </button>

    <mat-chip-list color="primary" #chipList>
      <mat-chip color="primary" *ngFor="let item of selectedItems" [selectable]="selectable" [removable]="removable" (remove)="remove(item)"
        (click)="$event.stopPropagation()">
        {{item.name.replace(' ','&nbsp;')}}
        <mat-icon color="warn" matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>

    <button matSuffix mat-icon-button (click)="scrollRight($event)">
      <mat-icon color="primary">keyboard_arrow_right</mat-icon>
    </button>
    <button matSuffix mat-icon-button>
      <mat-icon *ngIf="!dropDown" matSuffix color="primary">arrow_drop_down</mat-icon>
      <mat-icon *ngIf="dropDown" matSuffix color="primary">arrow_drop_up</mat-icon>
    </button>
  </mat-form-field>
  <div class="dropDown" *ngIf="dropDown">
    <mat-selection-list #list (selectionChange)="onSelect(list.selectedOptions.selected)">
      <mat-list-option *ngFor="let item of items" [value]="item" [selected]="item.selected">
        {{item.name.replace(' ','&nbsp;')}}
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>

<div class="cvr-screen" *ngIf="dropDown" (click)="$event.stopPropagation();dropDown=!dropDown;"></div>